<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/root.css">
    <title>FtR InkDrop</title>
</head>
<body>
    <main>
        <h1 class="intro" style="color: white">Welcome to InDrop, the universal file deployment platform</h1>
        <br><hr class="linebreaker"><br>
        {{if !.IsViewingPublic}}
        <div class="main1 main">
            <p style="font-size: 25pt">Welcome, {{.Name}}</p><br>
            <nav>
                <a href="?view=public"><button class="select">Browse Public Repositories</button></a>
            </nav>
            <br><hr class="linebreaker"><br>
            <form method="POST" action="/">
                <input name="reponame" type="text" class="details" placeholder="Enter new repository name...">
                <button type="submit">Create Repository</button>
            </form>
        </div>
        {{end}}
    </main>
</body>
</html>